{% extends 'common.html' %}
{% block content %}
    {% include 'main_menu.html' %}
    <form action="{% url 'user_reset_password' %}" method="post">
    {% csrf_token %}
        <table align="center" border="2">
            <tr><th class="th_title" colspan="2">Reset password</th></tr>
        {% if data1 %}
                <th class="th_data" colspan="2">{{ data1 }}</th>
            {% endif %}
            <tr><th class="th_data">Enter Your Email:</th><th class="th_data"><input type="email" required name="email" placeholder="Email"></th> {% if data %}
                <th class="th_data" colspan="3">{{ data }}</th>
            {% endif %}</tr>

            <tr><th class="th_data">New Password:</th><th class="th_data"><input type="password" required name="newpass" placeholder="New Password"></th> {% if data2 %}
                <th class="th_data" colspan="3">{{ data2 }}</th>
            {% endif %}</tr>
            <tr><th class="th_data">Confirm Password:</th><th class="th_data" class="th_data"><input type="password" required name="conpass" placeholder="Confirm Password"></tr>
            <tr><th class="th_data" colspan="2" style="text-align: center"><button class="th_data_button" type="submit">Reset</button></th></tr>
            <br>
        </table>
    </form>
{% endblock %}